a{
	color:#CF0072;
	text-decoration:none;
}

#main_container{
	width:850px;
	margin:0 auto;
	height:auto;
	top:-15px;
	position:relative;
}
#header{
	width:850px;
	height:100px;
	border-bottom:1px solid #DFE4E6;
	background-image: url(/images/search-bg-foaf.gif);
	background-repeat:no-repeat;
	background-position: top center;
}
#qdos_logo{
	float:left;
	background-image: url(/images/qdos_logo_beta.gif);
	background-repeat:no-repeat;
	width:100px;
	height:50px;
	margin-top:25px;
}
#content{
	width:800px;
	text-align:left;
	margin:0 auto;
	height:auto;
}
#breadcrumb_container{
	width:850px;
	height:20px;
}
.box_link{
	padding:6px;
	padding-top:9px;
	margin:6px;
	margin-top:10px;
	background-color:#CF0072;
}
.box_link a{
	color:#ffffff;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	text-decoration:none;
}
#back_link{
	width:140px;
	height:18px;
	margin-top:5px;
	background-color:#CF0072;
	text-align:center;
}
#back_link a{
	color:#ffffff;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	text-decoration:none;
}
#footer{
	width:850px;
	height:100px;
	border-top:1px solid #DFE4E6;
	margin-top:20px;
}
#foaf_header{
	margin-top:40px;
	border-bottom:1px solid #DFE4E6;
	height:125px;
}
#foaf_logo{
	height:45px;
	width:123px;
	float:left;
	background-image: url(/images/foaf-logo.gif);
	background-repeat:no-repeat;	
}

#search_header{
	float:left;
	height:25px;
	width:250px;
	position:relative;
	top:-20px;
	left:20px;
	color: #00A8DE;
	font-family:Arial,Helvetica,sans-serif;
	font-size:23px;
}

#foaf_header form {
	position:relative;
	top:-55px;
}
#foaf_header p {
	position:relative;
	top:-40px;
}
#search_box{
	width:200px;
	margin-left:160px;
	margin-top:-25px;
}
#search_button{
	background-image: url(/images/go.png);
	margin-top:25px;
	margin-left:25px;

}
.foaf_content{
	font-family:Arial,Helvetica,sans-serif;
	font-size:10px;
	position:relative;
	margin-top:15px;
}
h2{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-color:#dddddd;
}
h3{
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	font-color:#dddddd;
}


p {
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
}
span  {
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
}

#search_box_top{
position:absolute;
top:45px;
left:290px;
width:220px;
}
#search_for_another{
position:absolute;
font-size:20px;
left:290px;
color:#ffffff;
font-family:Arial,Helvetica,sans-serif;

}
#find_button{
	position:absolute;
	left:528px;
	top:47px;
}
#footer{
border-top:1px solid #DFE4E6;
bottom:20px;
clear:both;
position:relative;
top:20px;
width:100%;
}
#footer #copyright {
color:#525D66;
float:left;
font-family:Arial,Helvetica,sans-serif;
font-size:10px;
line-height:11px;
position:relative;
top:20px;
}
#footer #foot_nav {
margin:auto;
position:relative;
width:50%;
}
#footer #foot_nav li {
display: inline;
font-family:Arial,Helvetica,sans-serif;
font-size:10px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:11px;
margin:auto;
padding-left:10px;
text-align:left;
width:100%;
}
/* ABOVE THIS LINE IDENTICAL TO FOAF.QDOS.COM, title/footer*/
/*-------right col-------*/
.rightCol{
	width:500px;
	float: left;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
	height:auto;
	padding-bottom:20px;
}
.fieldLabelContainer{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#999999;
	font-weight:600;
	width:100px;
	padding-left:20px;
	height:20px;
}
.fieldValueContainer{
	position:relative;
	left:140px;
	width:330px;
	margin-top:-22px;
	/*padding-top:20px;*/
	/*to counteract the size of the fieldLabelContainer*/
	/*top:-20px;*/
	
}
.fieldContainer{
	padding-top: 20px;
	padding-bottom:25px;
	border-bottom: 1px solid #dddddd;
	margin-left:20px;
	margin-right:20px;
	height:auto;
}
.fieldContainerPrivate{
	padding-top: 20px;
	padding-bottom:20px;
	border-bottom: 1px solid #dddddd;
	margin-left:20px;
	margin-right:20px;
	height:auto;	
	background-color: #ddddff;
}
.fieldImage{
	margin-top:10px;
}
.fieldInput{
	width:250px;
	margin-bottom:5px;
}

/*-------left col-------*/
#leftCol{
	width:221px;
	height:1000px;
	float: left;
	border: 1px solid #eeeeee;
}
.editorElement{
	width:220px;
	background-color: #eeeeee;
}
.editorTitle{
	padding-right:20px;
	height:25px;
	background-image: url(/images/pink_background.gif);
}
.editorElementIcon{
	float:left;
}
.editorTitleText{
	padding-top:4px;
	padding-left:5px;
	padding-bottom:2px;
	height:25px;
	font-size:14px;
	color: #ffffff;
	font-family:Arial,Helvetica,sans-serif;
}
.editorSubTitleEven{
	height:20px;
	width:180px;
	margin-left:40px;
	margin-right:10px;
	margin-top:2px;
	margin-bottom:2px;
	padding-left:2px;
	padding-top:1px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#000000;
	font-weight:600;
	background-color:#ffffff;
}
.editorSubTitleOdd{
	height:20px;
	width:180px;
	margin-left:40px;
	margin-right:10px;
	margin-top:2px;
	margin-bottom:2px;
	padding-left:2px;
	padding-top:1px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#000000;
	font-weight:600;
	background-color:#eeeeee;
}

.editorSubOptionsText{
	font-size:10px;
	position:relative;
	float:right;
	right:35px;	
	top:-16px;
}
.privateCheckbox{
	position:relative;
	float:right;
	right:50px;	
	top:-16px;
}

/*accounts stuff*/
.addLink{
	font-family:Arial,Helvetica,sans-serif;
	font-size:10px;		
}
.removeLink{
	font-family:Arial,Helvetica,sans-serif;
	font-size:10px;		
}
.removeLinkContainer{
	margin-left:210px;
	margin-bottom:-5px;
}
.holdsAccount .removeLinkContainer{
	padding-left:140px;	
	padding-top:20px;
	height:auto;
}
#foafAccountName{
	width:140px;
	float:left;
	margin-left:0px;
	margin-right:0px;
	margin-top:5px;
	margin-left:10px;
	/*matches that from foafAccountServiceHomepageInputElement*/
	margin-bottom:5px;
}
#foafAccountServiceHomepage{
	float:left;
	width:100px;
	margin-top:5px;
	margin-left:0px;
	margin-right:0px;
	/*matches that from foafAccountName*/
	margin-bottom:5px;
}
.holdsAccount{
	padding-bottom:5px;
	border-bottom: 1px solid #EEEEEE;	
}
#addLinkContainer{
	margin-top:10px;
}



/*new accounts stuff*/

.accountTypeSelect{
	width:120px;
	margin-bottom:5px;
	margin-top:10px;
}
.accountUsername{
	width:120px;
	margin-left:5px;
	margin-bottom:5px;	
	margin-top:10px;
}
.accountTypeInput{
	width:245px;
	margin-bottom:5px;
	display:none;
}
.accountProfile{
	width:245px;	
	margin-bottom:10px;
	display:none;
}



/*the date stuff below is a bit hacked.  Might have to come back to this*/
.dateSelector{
	margin-bottom:5px;
	margin-right:10px;
}
#dayDropdown{
	margin-left: 0px;
	margin-top: 20px;
}

/*location stuff*/
.latitude{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;				
}
.longitude{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;			
}
.location{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;	
	border-bottom:1px solid #EEEEEE;
	color: #999999;		
	height:auto;
}
.homeAddress{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;	
	border-bottom:1px solid #EEEEEE;
	height:220px;
	color: #999999;		
	margin-top:20px;
}
.officeAddress{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;	
	border-bottom:1px solid #EEEEEE;
	height:220px;
	color: #999999;	
	margin-top:-15px;	
}
.airportCode{
	float:right;
	margin-top:-10px;	
}
.addressTitle{
	margin-bottom:5px;
	font-weight:600;
	position:relative;
	top:0px;
	left:0px;
}
.streetLabel{
	margin-top:5px;	
	float:left;
	width:100px;	
}
.street2Label{
	margin-top:5px;	
	float:left;
	width:100px;
	
}
.street3Label{
	margin-top:5px;	
	float:left;
	width:100px;
	
}
.postalCodeLabel{
	margin-top:5px;	
	float:left;
	width:100px;
	
}
.cityLabel{
	margin-top:5px;	
	float:left;
	width:100px;
	
}
.countryLabel{
	margin-top:5px;	
	float:left;
	width:100px;
	
}
.iataLabel{
	float:left;
	margin-top:5px;
	width:100px;	
}
.icaoCode{
	margin-top:5px;
	width:200px;	
}
/*pictures*/
.uploadLabel{
	font-size: 12px;
	font-family:Arial,Helvetica,sans-serif;
	color:#999999;
}
.linkToImageLabel{
	font-size: 12px;
	font-family:Arial,Helvetica,sans-serif;
	color:#999999;
}
.image{
	width:200px;
	height:175px;
	margin-bottom:10px;	
	border:2px solid #999999;
}
.menuDiv{
	margin-top:20px;
}
.friendImage{
	width:58px;
	height:58px;
	float:left;
}
.friendName{
	width:240px;
	text-align:center;
	float:right;
	margin-top:30px;
}
.friend{
	display:block;
	width:300px;
	height:58px;
	border-bottom:1px solid #999999;
}
.friendRemoveLinkContainer{
	float:right;
	margin-top:-45px;
}
/*geek view stuff*/
.otherTextArea{
	font-size:10px;
	height:300px;
	margin-left:-120px;
	width:440px;
	color:#444444;	
}
.otherButton{
}

/*location stuff*/
.hiddenMapDiv{
	float:left;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background:#00A8DE;	
	width:375px;
	height: 385px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:10px;
	display: none;
}
.embeddedMapDiv{
	width:455px;
	height:300px;
	margin-left:20px;
	margin-right:5px;
	margin-top:5px;
}
.viewOnMapContainer{
	position:relative;
	top:30px;
	left:200px;
}
.innerMapDiv{
	float:left;
	margin-left:auto;
	margin-right:auto;	
	width:375px;
	height: 375px;	
	display:inline;
}
#mapCloseLink{
	float:right;
	font-size:10px;
	color:#ffffff;
	font-weight:600;	
}

/*special airport autocomplete div*/
#airport_autocomplete{
	display:none;	
	width:200px;
}
#CityLocal{
	width:200px;	
}

#ajaxLoader{
	display:none;	
}
#findButton{
	float:left;
	margin-left:265px;
	margin-top:-35px;	
}


#mutualFriends_container{
	overflow:scroll;
	width:auto;
	height:200px;	
	padding:0px 0px 0px 0px;
	left:0px;
	width:320px;
	margin-left:140px;
}
#knowsUser_container{
	overflow:scroll;
	width:auto;
	height:200px;	
	padding:0px 0px 0px 0px;
	left:0px;
	width:320px;
	margin-left:140px;
}
#userKnows_container{
	overflow:scroll;
	width:auto;
	height:200px;	
	padding:0px 0px 0px 0px;
	left:0px;
	width:320px;
	margin-left:140px;
}

.privacyContainer{
	color:#dddddd;
	font-family:Arial,Helvetica,sans-serif;
	text-decoration:none;	
	font-size:10px;
	margin-bottom:-25px;
	margin-left:260px;
}

.foafUrl{
	color:#888888;
}
